<?xml version="1.0"?>

<configuration>

    <connectionStrings>
        <add name="hayaConnectionString" connectionString="Data Source=DESKTOP-BPNJRUS\SQLEXPRESS;Initial Catalog=haya;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="hayaConnectionString2" connectionString="Data Source=DESKTOP-NQIMM89\SQLEXPRESS;Initial Catalog=haya;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
